@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
  background: rgb(34,193,195);
  background: linear-gradient(120deg, rgb(213, 227, 240) 0%, rgb(193, 6, 162) 100%);

}
.wrapper{
    max-width: 420px;
    margin-top: 1.8%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 30%);
}
.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}

 .wrapper {
    padding: 20px 0;
    background-image: conic-gradient(rgb(11, 128, 245) 0%, rgb(193, 6, 162) 100%);
 }